{% extends 'layout.html' %}



{% block content %}
<div class="container card p-3 mt-5 border-dark" style="width: 95%;">
    <a href="{% url 'data_create_buses'%}" class="btn btn-outline-primary mb-3">Agregar Bus</a>
    <table class="table table-bordered text-center">
        <thead class="table-secundary">
            <tr>
                <th>Patente</th>
                <th>numero_unidad</th>
                <th>fecha_compra</th>
                <th>estado </th>
            </tr>
        </thead>

        {% for data in data_read_buses%}
        <tr>
            <td>{{data.patente}}</td>
            <td>{{data.numero_unidad}}</td>
            <td>{{data.fecha_compra}}</td>
            <td>{{data.estado}}</td>
        </tr>
        {% endfor %}
    </table>



</div>
{% endblock %}
