{% extends 'layout.html' %}



{% block content %}
<div class="container card p-3 mt-5 border-dark" style="width: 60%;">
    <h5 class="text-center text-dark">Agregar Bus</h5>
    <hr>
    <form class="text-center text-dark" method="POST" autocomplete="off">
        {% csrf_token %}
        {{form.as_p}}


        <div class="mt-5">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secundary ms-2">Reset</button>
            <a href="{% url 'data_read_buses' %}" class="btn btn-outline-dark ms-2">List All</a>
        </div>
    </form>
</div>
{% endblock %}
