{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/logo.png' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1><strong>Servicio Bus</strong></h1>
        <h3>Consigna 5</h3>
        <p>Aplicación web dedicaba al registro de viajes, recorridos, choferes, atractivos, buses, paradas. Podrán recorrer
            el navbar de tal manera que podrán observar una tabla donde muestra los datos correspondientes a los apartados registrados.
            Disfruten de este proyecto!!
        </p>
        <a href="{% url 'data_create_recorridos'%}" class="btn btn-outline-primary mb-3">Agregar Recorrido</a>
    </div>
</header>
<div class="row my-4 text-center">
    <h1>ERSA</h1>


    
    {% for recorrido in recorridos  %}

<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <div class="card-body">
            <h2>{{recorrido.nombre}}</h2>
            <p>{{recorrido.duracion_aprox}}</p>
            <img src="{{recorrido.image.url}}" alt="{{recorrido.title}}" class="card-img-top">
        </div>
    </div>
</div>
    
    {% endfor %}
    {% endblock %}
</div> 




