<!-- At the top of your page add load static -->
{% load static %}

<!-- In the body of the HTML page add this and continue adding all Fields. I have provided three example below -->
 <h1 class='list'>List View</h1>


        <table border="1">
            <thead>
                <th>name</th>
                <th>cantidad minutos en la hora prevista</th>
                <th>cantidad minutos en la hora transucrrida</th>
                <th>demora</th>
            </thead>
            {% for k in data  %}
            <tr>
                <td> {{k.nViaje}}</td>
                <td>{{k.dmViaje}}</td>
                <td>{{k.dmViaje2}}</td>
                <td>{{k.demora }}</td>
            
            </tr>
         
        