<!-- At the top of your page add load static -->
{% load static %}

<!-- In the body of the HTML page add this and continue adding all Fields. I have provided three example below -->
 <h1 class='list'>List View</h1>


        <table border="1">
            <thead>
                <th>name</th>
                <th>Hora inicio pervista</th>
                <th>hora inicio</th>
                <th>demora</th>
            </thead>
            {% for k in data  %}
            <tr>
                <td>{{k.recorrido.nombre}}</td>
                <td>{{k.hora_incio_prevista}}</td>
                <td>{{k.hora_inicio}}</td>
                <td>{{k.numero}}</td>
            
            </tr>
            
            {% endfor %}
        </table>